/******************************************************************************
    CUSTOMER PAGE
******************************************************************************/

.ts-customer-page {
    padding: 10px;
}

.ts-customer-page-header {
}

.ts-customer-table-container {
    padding: 10px;
    border: 2px solid red;
}

.ts-customer-table {
}
