@namespace Tessera.Web

@if (isVisible)
{
    <div class="ts-modal-overlay">
        <div class="ts-modal-content">
            <div class="ts-modal-body">
                <div class="ts-modal-body-section">
                    @* STREET *@
                    <div class="ts-label-container">
                        <label for="add-street-input" class="ts-label">Street</label>
                    </div>
                    <div class="ts-input-container">
                        <input class="ts-primary-input " type="text" id="add-street-input" @bind="street" />
                    </div>
                    @* CITY *@
                    <div class="ts-label-container">
                        <label for="add-city-input" class="ts-label">City</label>
                    </div>
                    <div class="ts-input-container">
                        <input class="ts-primary-input " type="text" id="add-city-input" @bind="city" />
                    </div>
                    @* STATE/PROVINCE *@
                    <div class="ts-label-container">
                        <label for="add-state-input" class="ts-label">State</label>
                    </div>
                    <div class="ts-input-container">
                        <input class="ts-primary-input " type="text" id="add-state-input" @bind="state" />
                    </div>
                    @* COUNTRY *@
                    <div class="ts-label-container">
                        <label for="add-country-input" class="ts-label">Country</label>
                    </div>
                    <div class="ts-input-container">
                        <input class="ts-primary-input " type="text" id="add-country-input" @bind="country" />
                    </div>
                    @* POSTAL CODE *@
                    <div class="ts-label-container">
                        <label for="add-postal-input" class="ts-label">Postal Code</label>
                    </div>
                    <div class="ts-input-container">
                        <input class="ts-primary-input " type="text" id="add-postal-input" @bind="postalCode" />
                    </div>
                </div>
            </div>
            <div class="ts-modal-footer">
                <button @onclick="CloseModal" class="ts-secondary-btn ts-modal-button-left">Cancel</button>
                <button @onclick="Submit" class="ts-primary-btn ts-modal-button-right">Submit</button>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public Action<AddressDto> OnAddAddress { get; set; }

    private bool isVisible = false;
    private string street;
    private string city;
    private string state;
    private string country;
    private string postalCode;

    public void CloseModal()
    {
        isVisible = false;
        StateHasChanged();
    }

    public void OpenModal()
    {
        isVisible = true;
        StateHasChanged();
    }

    private void Submit()
    {

        OnAddAddress?.Invoke(new AddressDto());
        CloseModal();
    }
}