@namespace Tessera.Web

@inject IBookService Book
@inject IApiService Api

@if (_isVisible)
{
    <div class="ts-modal-overlay">
        <div class="ts-modal-content">
            <div class="ts-chapter-settings-header">
                <input class="ts-basic-input-field" type="text" @bind="Book.Chapters[ChapterIndex].Title" />
                <input type="text" @bind="Book.Chapters[ChapterIndex].Description" />
            </div>
            <div class="ts-modal-body">
                <button @onclick="DeleteChapter" class="ts-secondary-btn">
                    <div class="ts-leaf-icon">
                        <img src="trash_fill.svg" alt="trash" />
                    </div>
                    <p class="ts-delete-btn-text">Delete</p>
                </button>
            </div>
            <div class="ts-modal-footer">
                <button @onclick="()=> ToggleModal(false)" class="ts-secondary-btn ts-modal-button-left">Close</button>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public int ChapterIndex { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    private bool _isVisible = false;

    public void ToggleModal(bool isVisible)
    {
        _isVisible = isVisible;
        StateHasChanged();
    }

    public async Task DeleteChapter()
    {
        var response = await Api.DeleteChapterAsync(Book.BookId, Book.Chapters[ChapterIndex].ChapterId);

        if(response.Success)
        {
            Book.Chapters.RemoveAt(ChapterIndex);
            ToggleModal(false);
            if (OnClose.HasDelegate)
            {
                await OnClose.InvokeAsync();
            }
        }
    }
}
