@page "/createorg"
@inject IAuthService AuthService
@inject NavigationManager Navigation
@using Tessera.Models
@using Tessera.Constants;
@using Newtonsoft.Json.Linq;
@using System.Text;


<div class="auth-container">
    <div class="input-container">
        <input type="text" id="input" required="" @bind="Name">
        <label for="input" class="label">Name</label>
        <div class="underline"></div>
    </div>
    <div class="input-container">
        <input type="text" id="input" required="" @bind="ConfirmName">
        <label for="input" class="label">Confirm Name</label>
        <div class="underline"></div>
    </div>
    <button class="btn-primary" @onclick="CreateOrgAsync">Create Organization</button>
    <button class="cus-btn-secondary" @onclick="OnSwitchToLogin">Return To Login</button>
    <p class="login-errors">@OrgError</p>
</div>


@code {
    [Parameter] public EventCallback OnSwitchToLogin { get; set; }
    [Parameter] public EventCallback OnSwitchToDestination { get; set; }

    private string Name{ get; set; } = "Test Organization One";
    private string ConfirmName { get; set; } = "Test Organization One";
    private MarkupString OrgError { get; set; }

    private async Task CreateOrgAsync()
    {
        var model = new OrganizationModel
        {
            Name = Name,
            ConfirmName = ConfirmName
        };

        JObject result = await AuthService.CreateOrg(model);

        if (result.ContainsKey("result"))
        {
            string resultString = result["result"]?.ToString();
            if (resultString == Keys.API_GENERIC_SUCC || resultString == Keys.API_ORG_SUCC)
            {
                Navigation.NavigateTo("/"); // Redirect to dashboard or another page on successful login
            }
        }
        else if (result.ContainsKey("errors"))
        {
            StringBuilder errorMessages = new StringBuilder();

            try
            {
                JObject errors = JObject.Parse(result["errors"]?.ToString());

                if (errors.ContainsKey("Email"))
                {
                    JArray emailErrorsArray = (JArray)errors["Email"];
                    errorMessages.AppendLine(string.Join(", ", emailErrorsArray.Select(e => e.ToString())));
                    errorMessages.Append("<br />");
                }
                if (errors.ContainsKey("Password"))
                {
                    JArray passwordErrorsArray = (JArray)errors["Password"];
                    errorMessages.AppendLine(string.Join(", ", passwordErrorsArray.Select(e => e.ToString())));
                    errorMessages.Append("<br />");
                }

                OrgError = new MarkupString(errorMessages.ToString());
            }
            catch (Newtonsoft.Json.JsonReaderException)
            {
                if (String.IsNullOrEmpty(result["errors"].ToString()))
                    OrgError = new MarkupString("Organization Could Not Be Created");
                else
                    OrgError = new MarkupString(result["errors"].ToString());
            }
        }
    }

    private async Task SwitchToLogin()
    {
        if (OnSwitchToLogin.HasDelegate)
        {
            await OnSwitchToLogin.InvokeAsync(null);
        }
    }

    private async Task SwitchToDestination()
    {
        if (OnSwitchToDestination.HasDelegate)
        {
            await OnSwitchToDestination.InvokeAsync(null);
        }
    }
}
