@page "/startup"
@inject IAuthService AuthService
@using Tessera.Components.Pages
@using Tessera.Constants

@if (!AuthService.IsAuthenticated || !AuthService.HasOrganization)
{
    
    <div class="startup-container debug-border-5">
        <div class="startup-header debug-border-4">
            <h1>Tessera Business Manager</h1>
        </div>
        @if (currentView == View.Login)
        {
            <Login OnSwitchToRegister="SwitchToRegister"/>
        }
        else if (currentView == View.Register)
        {
            <Register OnSwitchToLogin="SwitchToLogin" OnSwitchToCreateOrg="SwitchToCreateOrg" />
        }
        else if (currentView == View.CreateOrg)
        {
            <CreateOrg OnSwitchToLogin="SwitchToLogin"/>
        }
        else
        {
            <p>No view selected.</p>
        }
    </div>
}

@code {
    private View currentView = View.Login; // Default to showing login form

    private void SwitchToRegister()
    {
        currentView = View.Register;
    }

    private void SwitchToLogin()
    {
        currentView = View.Login;
    }

    private void SwitchToCreateOrg()
    {
        currentView = View.CreateOrg;
    }
}
