@namespace Tessera.Core.Components.Pages
@page "/startup"
@inject ILibraryService LibraryService
@inject NavigationManager Navigation

@if (!LibraryService.IsAuthenticated || !LibraryService.HasBook)
{
    
    <div class="startup-container debug-border-5">
        <div class="startup-header debug-border-4">
            <h1>Tessera Business Manager</h1>
        </div>
        @switch (currentView)
        {
            case View.Login:
                <Login OnSwitchToRegister="SwitchToRegister" OnSwitchToCreateOrg="SwitchToCreateOrg" OnSwitchToSelectOrg="SwitchToSelectOrg"/>
                break;

            case View.Register:
                <Register OnSwitchToLogin="SwitchToLogin" OnSwitchToCreateOrg="SwitchToCreateOrg" />
                break;

            case View.CreateOrg:
                <CreateOrg OnSwitchToLogin="SwitchToLogin" OnSwitchToSelectOrg="SwitchToSelectOrg"/>
                break;

            case View.SelectOrg:
                <SelectOrg OnSwitchToLogin="SwitchToLogin"/>
                break;

            default:
                <p>No view selected.</p>
                break;

        }
    </div>
}
else
{
    Navigation.NavigateTo("/");
}

@code {
    private View currentView = View.Login; // Default to showing login form

    private void SwitchToRegister()
    {
        currentView = View.Register;
    }

    private void SwitchToLogin()
    {
        currentView = View.Login;
    }

    private void SwitchToCreateOrg()
    {
        currentView = View.CreateOrg;
    }
    
    private void SwitchToSelectOrg()
    {
        currentView = View.SelectOrg;
    }
}
