@page "/startup"
@inject IAuthService AuthService
@using Tessera.Components.Pages
@using Tessera_Models

@if (!AuthService.IsAuthenticated)
{
    <div class="overlay">
        <div class="startup-container">
            <div>
                <h1>Tessera Business Manager</h1>
            </div>
            @if (showLogin)
            {
                <Login OnSwitchToRegister="SwitchToRegister"/>
                @* <Login OnLogin="@Login" /> *@
            }
            else
            {
                <Register />
            }
        </div>
    </div>
}

@code {
    bool showLogin = true; // Default to showing login form

    private void SwitchToRegister()
    {
        showLogin = false;
    }

    private void SwitchToLogin()
    {
        showLogin = true;
    }
}
