@typeparam TEnum

<select @bind="SelectedValue">
    @foreach (var value in Enum.GetValues(typeof(TEnum)).Cast<TEnum>())
    {
        <option value="@value">@value</option>
    }
</select>

@code {
    [Parameter] public TEnum SelectedValue { get; set; }
    [Parameter] public EventCallback<TEnum> SelectedValueChanged { get; set; }

    private async Task OnChange(ChangeEventArgs e)
    {
        if (Enum.TryParse(typeof(TEnum), e.Value.ToString(), out var parsedValue))
        {
            SelectedValue = (TEnum)parsedValue;
            await SelectedValueChanged.InvokeAsync(SelectedValue);
        }
    }
}
