@namespace Tessera.Core.Components.Widgets

@if (isVisible)
{
    <div class="modal-overlay-2">
        <div class="modal-content-2">
            <button class="btn-alpha">
                List
            </button>
            <button class="btn-alpha">
                Document
            </button>
            <button class="btn-alpha">
                Template
            </button>
            <button class="btn-alpha" @onclick="() => AddLeafComponent(LeafType.Customer)">
                Customer
            </button>
            <div class="modal-footer-2">
                <button @onclick="CloseModal" class="btn btn-primary">Close</button>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public Action<LeafDto> OnAddLeaf { get; set; }
    private bool isVisible = false;

    public void CloseModal()
    {
        isVisible = false;
        StateHasChanged();
    }

    public void OpenModal()
    {
        isVisible = true;
        StateHasChanged();
    }

    private void AddLeafComponent(LeafType leaf)
    {
        switch(leaf)
        {
            case LeafType.Customer:
                OnAddLeaf?.Invoke(new CustomerListDto());
                break;               

        }

        CloseModal();
    }
}

<style>
    .modal-overlay-2 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-content-2 {
        background: linear-gradient(45deg, #0c04a5 0%, #4301a4 50%);
        border-radius: 5px;
        width: 80%;
        max-width: 500px;
        padding: 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .modal-header-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .modal-body-2 {
        margin-bottom: 10px;
    }

    .modal-footer-2 {
        display: flex;
        justify-content: flex-end;
    }

    .close-button-2 {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }
</style>
