@namespace Tessera.Core.Components.Widgets

@page "/your-page"
@inject IViewService ViewService
@inject ILibraryService Library
@inject NavigationManager Navigation

<button class="btn-alpha">
    <div class="inner-buttons">
        <button class=" inner-button">
            <img src="caret_right_fill.svg" alt="caret right" />
        </button>
    </div>
    <span class="button-text">@Text</span>
    <div class="inner-buttons">
        <button class="inner-button">
            <img src="three_dots_horizontal.svg" alt="three dots" />
        </button>
    </div>
    <div class="inner-buttons">
        <button class="inner-button" @onclick="OpenAddMenu">
            <img src="plus_lg.svg" alt="plus" />
        </button>
    </div>
</button>
<div>
    @if (Library.CurrBook.Chapters[ChapterIndex].Contents.Count > 0)
    {
        @foreach (LeafDto leaf in Library.CurrBook.Chapters[ChapterIndex].Contents)
        {
            try
            {
                var leafType = leaf switch
                {
                    CustomerListDto _ => LeafType.Customer,
                    DataListDto _ => LeafType.List,
                    DocumentDto _ => LeafType.Document
                };
            
                <button class="btn-alpha" @onclick="() => ShowLeafViewer(leafType)">@leaf.Name</button>

            }
            catch (ArgumentOutOfRangeException ex)
            {
                // Display Error Message
            }
        }
    }
</div>

@code {
    [Parameter] public string Text { get; set; }
    [Parameter] public int ChapterIndex { get; set; }
    [Parameter] public Action OpenModal { get; set; }

    private void OpenAddMenu()
    {
        Library.SelectedChapter = Library.CurrBook.Chapters[ChapterIndex];
        OpenModal?.Invoke();
    }

    private void ShowLeafViewer(LeafType type)
    {
        Type componentType = null;
        switch (type)
        {
            case LeafType.Customer:
                componentType = typeof(Customers);
                break;
        }
        if (componentType != null)
        {
            ViewService.DynamicComponentType = componentType;
            ViewService.Parameters["CustomerList"] = new CustomerListDto();
            Navigation.NavigateTo("/leaf-viewer");
        }
    }
}

<style>
.btn-alpha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Adjust as needed */
    background-color: transparent;
    border: none; /* Optional: a light border for better visibility */
    color: #fff; /* Set text color to white */
    padding: 10px; /* Padding to make the button larger */
    border-radius: 4px; /* Rounded edges */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    text-align: left; /* Align text to the left */
    position: relative; /* Make sure the position is relative */
}

</style>