/******************************************************************************
    CUSTOMER PAGE
******************************************************************************/

.ts-customer-page {
    padding: 10px;
}

.ts-customer-page-header {
}

.ts-customer-table-container {
    padding: 20px;
    margin-top: 20px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.ts-customer-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate; /* Ensure border-spacing works */
    border-spacing: 10px; /* Adjust the gap between columns */
}

    .ts-customer-table tbody tr {
        border-bottom: 1px solid #988d92;
    }

        .ts-customer-table tbody tr.selected {
            background-color: red;
        }

        .ts-customer-table tbody tr:not(.selected):hover {
            outline: 2px solid black; /* Use outline instead of border for the hover effect */
        }

        .ts-customer-table tbody tr:last-child {
            border-bottom: none;
        }

.selected-row {
    outline: 2px solid Red;
}

.row-test {
    background-color: green;
}

.ts-customer-validation-summary {
}

.col-complete{
    width: 100px;
}

.col-name {
    width: 350px;
    min-width: 100px;
    max-width: 350px;
}

.col-description {
    min-width: 200px;
}

.col-calendar{
    width: 100px;
}

.col-selection {
    width: 100px;
}