@namespace Tessera.Web.Layout

@inherits LayoutComponentBase

@inject IBookService Book
@inject IApiService Api
@inject NavigationManager Navigation

<div class="ts-page">
    <div class="ts-sidebar">
        <NavMenu />
    </div>

    <main class="ts-page-content">
        <div>
            @Body
        </div>
    </main>
</div>


@code {
    private bool isLoading = true;
}