@namespace Tessera.Web.Layout

@inherits LayoutComponentBase

@inject IBookService Library
@inject IApiService Api
@inject NavigationManager Navigation

<div class="page">
    @Body
</div>


@code {
    
}