@namespace Tessera.Web.Pages

@page "/b/{BookId:int}"

@layout BookLayout
@inject NavigationManager Navigation

<PageTitle>Overview</PageTitle>

<div>
    HOME
</div>

@code {
    [Parameter] public int BookId { get; set; }

}
