@inject ILibraryService LibraryService
@using Tessera.Models.Book
@using Tessera.Models.ChapterComponents
@using Tessera.Components.Wigets

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Tessera</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
            @for(int i = 0; i < LibraryService.CurrBook.Chapters.Count; i++)
            {
                <ChapterButton Text="@LibraryService.CurrBook.Chapters[i].Title" ChapterIndex="i" OpenModal="OpenModal"/>
            }
            <!-- ExampleComponent.razor
            <button class="btn btn-primary" @onclick="OpenModal">Toggle Overlay Modal</button>
             -->
            <AddLeaf @ref="leafModal" OnAddLeaf="AddLeaf"/>
        </div>
    </nav>
</div>

@code {

    private AddLeaf leafModal;

    private void OpenModal()
    {
        leafModal.OpenModal();
    }

    private void AddLeaf(LeafDto leaf)
    {
        if (leaf != null)
        {
            LibraryService.SelectedChapter.Contents.Add(leaf);
            StateHasChanged();
        }
    }


    // private OverlayModal overlayModal;

    // private void ToggleOverlayModal()
    // {
    //     if (overlayModal != null)
    //     {
    //         if (!overlayModal.IsVisible())
    //         {
    //             overlayModal.Show();
    //         }
    //         else
    //         {
    //             overlayModal.Close();
    //         }
    //     }
    // }

    // private void HandleOverlayModalClose()
    // {
    //     // Handle any additional logic when the overlay modal is closed
    // }
}
